
MyCustomList/bin/Debug/net9.0/MyCustomList.deps.json

MyCustomList/bin/Debug/net9.0/MyCustomList.dll

MyCustomList/bin/Debug/net9.0/MyCustomList.exe

MyCustomList/bin/Debug/net9.0/MyCustomList.pdb

MyCustomList/bin/Debug/net9.0/MyCustomList.runtimeconfig.json

MyCustomList/obj/Debug/net9.0/apphost.exe

MyCustomList/obj/Debug/net9.0/MyCustomList.AssemblyInfo.cs

MyCustomList/obj/Debug/net9.0/MyCustomList.AssemblyInfoInputs.cache

MyCustomList/obj/Debug/net9.0/MyCustomList.csproj.CoreCompileInputs.cache

MyCustomList/obj/Debug/net9.0/MyCustomList.csproj.FileListAbsolute.txt

MyCustomList/obj/Debug/net9.0/MyCustomList.dll

MyCustomList/obj/Debug/net9.0/MyCustomList.genruntimeconfig.cache

MyCustomList/obj/Debug/net9.0/MyCustomList.pdb

MyCustomList/obj/Debug/net9.0/MyCustomList.sourcelink.json

MyCustomList/obj/Debug/net9.0/ref/MyCustomList.dll

MyCustomList/obj/Debug/net9.0/refint/MyCustomList.dll
